
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/myCSS.css">
    <th:block th:include="/includes/indexHeader :: header"></th:block>
    <title>Admin profil</title>
</head>
<body>

<div class="container">
    <h3 id="header3">Admin</h3>
    <form action="/removeduser" method="POST">

        <label for="removeduser">Fjern bruger:</label>
        <input type="text" name="userID" id="removeduser" placeholder="Indtast user_id">
        <button type="submit" name="action" value="removeUserButton">Fjern bruger</button>

    </form>
</div>

<th:block th:include="/includes/footer :: footer"></th:block>
</body>
</html>
