<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<link rel="stylesheet" href="myCSS.css">
<body>

<h3>Contact Form</h3>

<div class="container">
    <form action="/action_page.php">

        <label for="fname">Fornavn</label>
        <input type="text" id="fname" name="firstname" placeholder="Indtast dit fornavn">

        <label for="lname">Efternavn</label>
        <input type="text" id="lname" name="lastname" placeholder="Indstast dit efternavn">


        <textarea id="subject" name="subject" placeholder="Skriv noget om dig selv" style="height:200px"></textarea>

        <input type="submit" value="Opret dig">

    </form>
</div>

</body>
</html>
