<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <th:block th:include="/includes/indexHeader :: header"></th:block>
    <title>Karantæne</title>
</head>
<body>
<div style="text-align: center; color: #f2f2f2">
<h1>Du er kommet i 14 dages karantæne</h1>
<p>Da du d.(dato) registrerede dig som Corona-smittet, har vi sat dig i 14 dages karantæne.</p>
<p>Der er (X) dage tilbage, før du må bruge CoronaDating igen.</p>
    <p>Da du er smittet med Coronavirus er det vigtigt at du forsøger at begrænse kontakten med andre mennesker så vidt som muligt. </p>
    <p>Vi mener derfor heller ikke det er forsvarligt, at vi lader dig mødes med andre mennesker herpå. </p>
    <p>Det er essensen af CoronaDating at matche partnere, der er negative for Corona, derfor skal du ved karantænens ophør fremvise en negativ Corona-test.</p>
    <h2>Rigtig god bedring!</h2>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>