<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/indexHeader :: header"></th:block>
<body>

<div class="container">
    <h3> hvem er vi? </h3>
    <h4 text align="center">
        <br> Vi er en organisation, som prøver at forbinde verden sammen på en unik måde.
        <br> Vi er nemlig unike grundet at vi gør dette 100% friviligt, og vi har derfor også gjort siden gratis,
        <br> Også efter du er logget ind som bruger hos os.
        <br>
        <br>
        <br> Husk at du også kan kontakte os nederst på siden, pr mail - hvis der er spørgsmål
    </h4>
    
</div>
</body>

<th:block th:include="/includes/footer :: footer"></th:block>
</html>