<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="container">
    <h3 id="header3">OPRET PROFIL</h3>
    <form action="/createUserP" method="post">

        <label for="bruger">Email</label>
        <input type="text" id="bruger" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="navn">Fornavn</label>
        <input type="text" id="navn" name="name"> <p>

        <label for="efternavn">Efternavn</label>
        <input type="text" id="efternavn" name="surname"> <p>

        <label for="region">Region</label>
        <select name="region" id="region">
            <option value="Hovedstaden">Hovedstaden</option>
            <option value="Sjælland eksl. hovedstaden">Sjælland eksl. hovedstaden</option>
            <option value="Nordjylland">Nordjylland</option>
            <option value="Midtjylland">Midtjylland</option>
            <option value="Syd- og Sønderjylland">Syd- og Sønderjylland</option>
            <option value="Fyn">Fyn</option>
        </select>
        <label for="alder">Alder</label>
        <input type="text" id="alder" name="age">

        <label for="køn">Køn</label>
        <select  name="gender_id" id="køn">
            <option value=1>Mand</option>
            <option value=2>Kvinde</option>
            <option value=3>Andet</option>
        </select>

        <label for="imageLink">Link til dit billede</label>
        <input type="text" id="imageLink" name="imageLink">

        <label for="digselv">Skriv lidt om dig selv</label>
        <input type="text" id="digselv" name="about">

        <br>
        <br>

        <input type="submit" value="Opret bruger">
    </form>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>