<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="container">
    <form action="/createUserP" method="post">
    <h3>
        Brugernavn:
    </h3>
    <input type="text" name="username">

    <h3>
        Password:
    </h3>
    <input type="password" name="password">

    <h3>
        Navn:
    </h3>
    <input type="text" name="name"> <p>

    <h3>
        Efternavn:
    </h3>
    <input type="text" name="surname"> <p>

    <h3>
        Region:
    </h3>
    <input type="text" name="region"> <p>

    <h3>
        Alder:
    </h3>
    <input type="text" name="age">

    <h3>
        Skriv lidt om dig selv:
    </h3>
    <input type="text" name="about">

    <h3>
        Dato for test af Corona:
    </h3>
    <input type="date" name="date">
    <br>
    <br>

    <input type="submit" value="Opret bruger">
    </form>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>