<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="div_text">
    <h1></h1>
    <h3>
        Navn:
    </h3>
    <input type="text" name="name" placeholder="Navn"> <p>

    <h3>
        Efternavn:
    </h3>
    <input type="text" name="surname" placeholder="Efternavn"> <p>

    <h3>
        Region:
    </h3>
    <input type="text" name="town" placeholder="Region"> <p>

    <h3>
        Alder:
    </h3>
    <input type="text" name="age" placeholder="Alder">

    <h3>
        Skriv lidt om dig selv:
    </h3>
    <input type="text" name="about" placeholder="Om mig..."><br>
    <br>
    <br>

    <input type="submit" value="Opret bruger">
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>