<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <title>Profil</title>
</head>
<th:block th:include="/includes/indexHeader :: header"></th:block>
<body>
<div style="color: #f2f2f2;">

<h1>(Personens for- og efternavn)</h1>
    <img src="pictures/jelusic.jpg" width="300px" height="300px"/>

<p>Region: </p>
<p>Seksuel orientering:</p>
<p>Kønsidentitet:</p>
<p>Religion:</p>

    <p>Status for Corona:</p>
<div style="position:relative; bottom:500px; left:500px;"><b><h2>Om mig:</h2></b></div>
</div>
<th:block th:include="/includes/footer :: footer"></th:block>
</body>
</html>