<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <title>Profil</title>
</head>
<th:block th:include="/includes/Header :: header"></th:block>
<body>
 <div class="wrapper">
     <div class="box">
         <div class="box-img">
             <img src="pictures/jelusic.jpg">
         </div>
         <div class="box-text">
             <h1>(fornavn og efternavn)</h1>
             <h2>alder:</h2>
             <h2>køn:</h2>
             <h2>region:</h2>
             <h2>seksual orientering:</h2>
             <h2>corona status:</h2>
             <h2>om mig:</h2>
             <p> "UDFULD OM MIG HER" </p>

         </div>
     </div>
 </div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>