<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <title>Profil</title>
</head>
<th:block th:include="/includes/Header :: header"></th:block>
<body>

<div class="wrapper">
    <div class="box">
        <div class="box-img">
            <img th:src="${session.user.imagelink}">
        </div>
        <div class="box-text">
            <h1>Fulde navn:</h1>
            <p th:text="${session.user.name}">Fulde navn</p>
            <p th:text="${session.user.surname}">Efternavn</p>
            <h2>Region:</h2>
            <p th:text="${session.user.region}">Region</p>
            <h2>Alder:</h2>
            <p th:text="${session.user.age}">Alder</p>
            <h2>Om mig:</h2>
            <p th:text="${session.user.about}">Om mig</p>

            <div class="">
                <li><a href="/update">Update profil</a></li>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>