<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Søg efter date</title>
</head>
<body>
<form action="/logIn" method="POST">

    <label for="fname">Region</label>
    <input type="" id="fname" name="username" placeholder="Hvor?">

    <label for="lname">Minimun alder</label>
    <input type="number" id="lname" name="minAge" placeholder="Hvilken alder søger du?">

    <label for="lname">Maximum alder</label>
    <input type="number" id="lname" name="maxAge" placeholder="Hvilk en alder søger du?">


    <!--<textarea id="subject" name="subject" placeholder="Skriv noget om dig selv" style="height:200px"></textarea> -->
    <button type="submit" name="action" value="1">Log ind</button>
    <button type="submit" name="action" value="2">Opret mig</button>
</form>
</body>
</html>