<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<form action="/search">
   <div class="div_text">
       <h3>Hvad søger du efter?</h3>
       <p>
           <br>
       </p>
       <h3>
           Køn:
       </h3>
       <select name="Gender" id="genderList">
           <option value="Mand">Mand</option>
           <option value="Kvinde">Kvinde</option>
           <option value="Andet">Andet</option>
       </select>
        <p>
       <br><br>
        <h3>
            Ønsket alder
        </h3>
        <input type="text" name="minAge" placeholder="Min.">
        <input type="text" name="maxAge" placeholder="Max.">
        <p>
        <h3>
            Ønsket region
        </h3>
        <select name="region" id="regionList">
           <option value="1">Hovedstaden</option>
           <option value="2">Sjælland eksl. hovedstaden</option>
           <option value="3">Nordjylland</option>
           <option value="4">Midtjylland</option>
           <option value="5">Syd- og Sønderjylland</option>
           <option value="6">Fyn</option>
        </select>
        <p>

        <button type="submit" name="action">Søg</button>
    </div>
</form>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>