<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<form action="/SearchResult" method="POST">
    <div class="div_text">
        <h3>
            Ønsket køn
        </h3>
        <input type="text" name="gender">
        <p>
        <h3>
            Ønsket alder
        </h3>
        <input type="text" name="age">
        <p>
        <h3>
            Ønsket by
        </h3>
        <input type="text" name="town">
        <p>
        <h3>
            Ønsket sexualitet
        </h3>
        <input type="text" name="sexuality">
        <button type="submit" name="action">Søg</button>
    </div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>