<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="containersog">
<form action="/searchResult" method="post">
   <div class="div_text">
       <h2>hvad søger du efter?</h2>
       <br><br>
       <h3>
           ønsket køn
       </h3>
       <select name="gender_id" id="genderList">
           <option value="1">Mand</option>
           <option value="2">Kvinde</option>
           <option value="3">Andet</option>
       </select>
        <h3>
            ønsket alder
        </h3>
        <input type="text" name="minAge" placeholder="Min.">
        <input type="text" name="maxAge" placeholder="Max.">
        <p>
        <h3>
            ønsket region
        </h3>
        <select name="region" id="regionList">
           <option value="Hoved">Hovedstaden</option>
           <option value="Sjælland eksl. hovedstaden">Sjælland eksl. hovedstaden</option>
           <option value="Nordjylland">Nordjylland</option>
           <option value="Midtjylland">Midtjylland</option>
           <option value="Syd- og Sønderjylland">Syd- og Sønderjylland</option>
           <option value="Fyn">Fyn</option>
        </select>
        <p>

        <button type="submit" name="action">Søg</button>
    </div>
</form>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>