<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <title>Title</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="overskriftbox">
    <h3 class="overskrift">Liste over personer der passer til dine ønsker</h3>
</div>
<div class="table">
        <tr th:each="user : ${users}">
            <div class="box">
            <div class="box-img">
                    <img th:src="${user.imageLink}">
            </div>
                <div class="box-text">
            <p> Navn: <span th:text="${user.name}"> Name </span></p>
            <p> Efternavn: <span th:text="${user.surname}"> Efternavn </span></p>
            <p> E-mail: <span th:text="${user.username}"> E-mail</span></p>
            <p> Region: <span th:text="${user.region}"> Region </span></p>
            <p> Alder: <span th:text="${user.age}"> Alder </span></p>
            <p> Om mig: <span th:text="${user.about}"> Om mig </span></p>
            </div>
            </div>
        </tr>

    </div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>