<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="myCSS.css">
  <title>Opdater profil</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div class="container">
  <h3 id="header3">OPDATER PROFIL</h3>
  <form action="/updateUserP" method="post">

    <label for="navn">Fornavn</label>
    <input type="text" id="navn" name="name"  th:value="${session.user.name}"> <p>

    <label for="efternavn">Efternavn</label>
    <input type="text" id="efternavn" name="surname" th:value="${session.user.surname}"> <p>

    <label for="region">Region</label>
    <input type="text" id="region" name="region" th:value="${session.user.region}"> <p>

    <label for="age">Alder</label>
    <input type="text" id="age" name="age" th:value="${session.user.age}">

    <label for="imageLink">Link til dit billede</label>
    <input type="text" id="imageLink" name="imageLink" th:value="${session.user.imageLink}">

    <label for="digselv">Skriv lidt om dig selv</label>
    <input type="text" id="digselv" name="about" th:value="${session.user.about}">

    <br>
    <br>

    <input type="submit" value="Opdater bruger">
  </form>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>