<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
    <footer id="footer">
        <div id="wrapper">
            <div id="email">
                <br>
                <br> <p>kontakt os her, for spørgsmål:</p>
                <br><a href="mailto:alex8943@stud.kea.dk">mail os</a>
                <br>
                <br>
            </div>
        </div>
    </footer>
</div>

</body>
</html>