<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <a href="#default" class="logo">Logo</a>
        <div class="header-right">
            <ul class="nav">
                <li><a href="/about">om os</a></li>
                <li><a href="/ommig">min profil</a></li>
                <li><a href="/about">Om os</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>